.page {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-display {
    margin-top: 0.2vh;
}