.displayPage {
    font-family: 'Open Sans', 'Noto Sans TC';
    margin: 10px 0;
}

.display-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    flex: 0 1 108px;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 6px;
}

.divider {
    flex: 1;
    border-bottom: 3px dotted #000;
    width: 550px;
}

.note {
    flex: 0 1 180px;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
}

.display-data {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.siteList {
    margin-left: 20px;
    width: 723px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.siteList .card {
    width: 48%;
    cursor: pointer;
}

@media only screen and (max-width: 880px){
    .siteList .card {
        width: 100%;
    }
    .siteList {
        margin: 0 0 0 3%;
        min-width: 300px;
    }
}

@media only screen and (max-width: 700px){
    .siteList { min-width: 255px; }
}

@media only screen and (max-width: 600px){
    .displayPage {
        min-height: 580px;
    }
    
    .note {
        flex: 0 1 160px;
    }

    .display-data { position: relative; }

    .siteDetail {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(240, 240, 240, 0.95);
    }

    .siteList { 
        margin: 0;
        min-width: auto;
    }

    .siteList .card {
        width: 49%;
    }
}

@media only screen and (max-width: 500px){
    .siteList .card .siteName {
        font-size: 1.8rem;
    }

    .siteList .card .AQI {
        font-size: 2rem;
    }
}


@media only screen and (max-width: 430px){
    .displayPage {
        min-height: 520px;
    }

    .title {
        flex: 0 1 85px;
    }

    .note {
        flex: 0 1 130px;
    }

    .siteList .card .siteName {
        width: 55%;
    }

    .siteList .card .AQI {
        width: 45%;
    }
}

@media only screen and (max-width: 340px){
    .displayPage {
        min-height: 480px;
    }

    .siteDetail .innerContainer { font-size: 1.7rem; }
}