.footer{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 1vh 0;
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans', '微軟正黑體';
    font-size: 0.9rem;
}

.footer div:first-child{
    font-weight: bold;
    margin-left: 3vw;
    display: inline;
}

.footer div:last-child{
    display: inline;
    float: right;
    margin-right: 3vw;
}

@media only screen and (max-width: 500px){
    .footer div:first-child, 
    .footer div:last-child {
        display: block;
    }

    .footer div:last-child {
        float: none;
        margin-left: 3vw;
    }
}